.main {
  display: grid;
  grid-template: 
    ". header . . ." 20px
    "container container container container container" 5px
    ". sidebar-left content content ." auto
    / 15% 20% 25% 25% 15%;
    align-items: stretch;
    justify-items: stretch;
}

.header {
  position: fixed;
  left: 16%;
  grid-area: header;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  padding-top: 10px;
}

.sidebar-left {
  position: fixed;
  grid-area: sidebar-left;
  padding-left: 20%;
  padding-top: 23%;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.content {
  grid-area: content;
}

.sidebar-left a {
  display: block;
  text-decoration: none;
}

a:visited {
  color: black;
}