/* variables */

:root {
  --xs: 320px;
  --s: 425px;
  --m: 768px;
  --l: 1024px;
  --xl: 1440px;
}


/* layout */

.container {
  max-width: 66%;
  margin: auto;
}

.lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.arrow_box {
	position: relative;
	background: #ffffff;
  border: 1px solid #000000;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000000;
	border-width: 23px;
	margin-top: -23px;
}

/* ~responsiveness~ */

@media only screen and (max-width: var(--s)) {
  body{
    overflow: visible;
  }
}