/* defaults */

html, 
body {
  overflow: hidden;
  margin: 2px;
}

.content {
  padding-top: 12vh;
}

.choices {
  padding-left: 10vw;
  float: left;
}

.header,
#name {
  font-family: 'Raleway', sans-serif;
  font-size: 5vh;
  margin: 15px 0;
  text-align: center;
}

.stuff{
  width: 50%;
  float: right;
  padding-right: 10vw;
  text-align: center;
}


/* utility */

a {
  display: block;
}
a:visited {
  color: blue;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
}